
.projects-container{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    column-gap: 2.5rem;
    row-gap: 35px;
}

@media screen and (min-width: 1780px){
    .projects-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, 625px);
        row-gap: 4rem;
        column-gap: 2rem;
    }
}
/*
@media screen and (max-width: 950px){
    .projects-container{
        width: 100%;
        align-content: center;
        justify-content: center;
        justify-items: center;
        padding: 0;
    }
}
  */