a {
  display: inline-block;
  width: auto;
  min-width: auto;
  max-width: none;
  padding: 0;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  line-height: 1.2;
  vertical-align: baseline;
}

a ::ng-deep span {
  width: 0px;
  opacity: 0.95;
  outline: none;
  border: 0;

  &:hover,
  &:active,
  &:focus {
    outline: none;
    border: 0;
  }
}

a.active-link ::ng-deep span {
  width: 100%;
}
