a {
  display: inline-block;
  width: auto;
  min-width: auto;
  max-width: none;
  padding: 0;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  line-height: 1.2;
  vertical-align: baseline;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  animation-duration: 300ms;
}

/* a ::ng-deep span {
  width: 0px;
  opacity: 0.95;
  outline: none;
  border: 0;

  &:hover,
  &:active,
  &:focus {
    outline: none;
    border: 0;
  }
}

a.active-link ::ng-deep span {
  width: 100%;
} */
