<section class="ourService">
  
  <app-title class="w-full"
      data-aos="fade-up" data-aos-duration="600"
      className="text-center text-secondTitle"
      [title]="SERVICES.TITLE"
      [strong]="[SERVICES.STRONG.TITLE]"
      strongStyle="text-red-700"
    ></app-title>

  <div class="mt-20 flex justify-evenly gap-5 flex-wrap">
        <service-card 
          data-aos="zoom-in"
          data-aos-duration="700"
          
          *ngFor="let service of SERVICES.SERVICES; let i = index" 
          [index]="i" 
          [icon]="service.ICON" 
          [title]="service.TITLE"
        >
        </service-card>
  </div>

</section>