<bento-item className="bento-item-7">
  <h2
    class="font-manrope bg-ml-text-white font-semibold text-[3rem] pl-[1rem] text-left bg-clip-text text-transparent"
  >
    {{ STACK_TITLE() }}
  </h2>
  <img
    class="icon stack-1"
    src="../../../../assets/stack/AngularIcon.svg"
    alt="Angular"
    title="Angular"
    decoding="async"
    loading="lazy"
  />
  <img
    class="icon stack-2"
    src="../../../../assets/stack/ReactIcon.svg"
    alt="React"
    title="React"
    decoding="async"
    loading="lazy"
  />
  <img
    class="icon stack-3"
    src="../../../../assets/stack/SpringIcon.svg"
    alt="Spring boot"
    title="Spring boot"
    decoding="async"
    loading="lazy"
  />
  <img
    class="icon stack-4"
    src="../../../../assets/stack/TypescriptIcon.svg"
    alt="TypeScript"
    title="TypeScript"
    decoding="async"
    loading="lazy"
  />
  <img
    class="icon stack-5"
    src="../../../../assets/stack/Css3Icon.svg"
    alt="CSS"
    title="CSS"
    decoding="async"
    loading="lazy"
  />
  <img
    class="icon stack-6"
    src="../../../../assets/stack/MysqlIcon.svg"
    alt="My SQL"
    title="My SQL"
    decoding="async"
    loading="lazy"
  />
  <img
    class="icon stack-7"
    src="../../../../assets/stack/JavaIcon.png"
    alt="Java"
    title="Java"
    decoding="async"
    loading="lazy"
  />
  <img
    class="icon stack-8"
    src="../../../../assets/stack/GitIcon.png"
    alt="Git"
    title="Git"
    decoding="async"
    loading="lazy"
  />
  <img
    class="icon stack-9"
    src="../../../../assets/stack/TailwindIcon.png"
    alt="Tailwind"
    title="Tailwind"
    decoding="async"
    loading="lazy"
  />
</bento-item>
