<div class="rating" [id]="'rating-'+num">

  <input value="5" [name]="'rating-'+num" [id]="'star5-i-'+num" type="radio" (change)="ratingChanged($event)" [checked]="valorSeleccionado === '5'">
  <label [for]="'star5-i-'+num"  [id]="'star5-l-'+num"></label>

  <input value="4" [name]="'rating-'+num" [id]="'star4-i-'+num" type="radio" (change)="ratingChanged($event)" [checked]="valorSeleccionado === '4'">
  <label [for]="'star4-i-'+num" [id]="'star4-l-'+num"></label>

  <input value="3" [name]="'rating-'+num" [id]="'star3-i-'+num" type="radio" (change)="ratingChanged($event)" [checked]="valorSeleccionado === '3'">
  <label [for]="'star3-i-'+num" [id]="'star3-l-'+num"></label>

  <input value="2" [name]="'rating-'+num" [id]="'star2-i-'+num" type="radio" (change)="ratingChanged($event)" [checked]="valorSeleccionado === '2'">
  <label [for]="'star2-i-'+num" [id]="'star2-l-'+num"></label>

  <input value="1" [name]="'rating-'+num" [id]="'star1-i-'+num" type="radio" (change)="ratingChanged($event)" [checked]="valorSeleccionado === '1'">
  <label [for]="'star1-i-'+num" [id]="'star1-l-'+num"></label>

</div>
