.rating {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 2px;
    max-height: 50px;
  }
  
  .rating input {
    display: none;
  }
  
  .rating label {

    cursor: pointer;
    color: #bababa;
    transition: color 0.3s;
  }
  
  .rating label:before {
    content: '\2605';
    font-size: 22px;
  }
  
  .rating input:checked ~ label,
  .rating label:hover,
  .rating label:hover ~ label {
    color: #e9d900;
    transition: color 0.3s;
  }
  
  @media screen and (min-width: 1580px){
    .rating {
      column-gap: 4px;
    }
    
    .rating label:before {
      font-size: 35px;
    }
  }