.form {
    display: flex;
    flex-direction: column;
    row-gap: 13px;
  }
  
  .input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 300ms ease-in-out;
    width: 450px;
    height: 45px;
    color: #000;
    font-weight: 600;
  }
  
  .input.error{
    color: rgb(220 38 38);
    background-color: #f1c1c1;
    transition: background-color 100ms ease;
  }

  
.message {
    width: 450px;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
    color: #000;
    font-weight: 600;
  }
  
  .input:focus,
  .message:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 5px 5px 10px #969696, -5px -5px 10px #e8e5e5;
  }
  
  .input.error:focus{
    background-color: #f5bcbc;
    box-shadow: 5px 5px 10px #5b3131, -5px -5px 10px #e98989;
  }
  
  .button-form {
    background-color: rgba(185, 28, 28, 1);
    width: 13rem;
    overflow: hidden;
    outline: none;
    border-radius: 1.4rem;
    padding-block: 0.5rem;
    font-weight: 500;
    aspect-ratio: 9/2;
  }
  
  .button-form:disabled{
    background-color: rgb(180, 51, 51);
  }
  
  .button-form:not(:disabled):hover {
    background-color: rgba(153, 27, 27, 1);
  }
  .button-form:not(:disabled):active {
    background-color: rgba(127, 29, 29, 1);
  }


  @media only screen and (max-width: 768px) {
    .form .button-form {
      margin: auto;
    }
  }
  
  @media screen and (max-width: 790px) {
    .input {
      width: auto;
    }
    .message {
      width: auto;
    }
  }

  @media only screen and (min-width: 1580px) {
    .input {
      width: 575px;
      height: 60px;
      font-size: 1.8rem;
    }
    .message {
      width: 575px;
      font-size: 1.8rem;
      height: 300px;
    }
  
    .button-form {
      font-size: 1.8rem;
  
      width: 16rem;
    }
  }