<div id="header" class="header ">

      <div class="header-container">

        <nav class="navigation">
          <navigate [path]="PATHS.start" [textLink]="HEADER.HOME" class="text-[1.1rem] min-[1500px]:text-3xl" classNames="mr-4" [isHeader]="true"></navigate>
          <navigate [path]="PATHS.about" [textLink]="HEADER.ABOUT" class="text-[1.1rem] min-[1500px]:text-3xl" classNames="mr-4 ml-4" [isHeader]="true"></navigate>
          <navigate [path]="PATHS.contact" [textLink]="HEADER.CONTACT" class="text-[1.1rem] min-[1500px]:text-3xl" classNames="mr-4 ml-4" [isHeader]="true"></navigate>
        </nav>
      
        <app-logo class="logo"></app-logo>
      
        <social-nav class="social-nav justify-self-center mt-6"></social-nav>

      </div>
  
</div>