.skills{
    display: flex;
    flex-direction: column;
    margin: 4rem 1rem 0 1rem;
    padding: 0 2.25rem;
}

.clarification{
    background: linear-gradient(162deg, rgba(40,8,94,1) 40%, rgba(20,0,48,1) 91%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(190px, 410px, 460px);
    border: 1px solid rgb(145, 82, 245);
    border-radius: 2em;
    padding: 3px;
    margin-top: 1rem;
    font-weight: 600;
    font-size: clamp(0.4rem, 4vw, 1.1rem);
    color: rgb(231, 208, 251);
}

.clarification span{
    padding: 5px 2px 2px 5px;
}

@media screen and (max-width: 375px){
    .skills{
        padding: 0;
    }
}