h2.title-section {
  font-size: min(15dvw, 3.75rem);
  font-weight: 700;
  line-height: min(20dvw, 4rem);
  padding-block-end: 0.5rem;
  width: 100%;
}

.sub-title {
  opacity: 0.8;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: center;
}
