h2.title-section {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 4rem;
  padding-block-end: 0.5rem;
  width: 100%;
}

h3.sub-title {
  opacity: 0.8;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 2rem;
}
