section {
  display: flex;
  justify-content: space-evenly;
  min-height: calc(100dvh - 50px);
  margin-inline: 1rem;
  padding-inline: 2.25rem;
  margin-block-end: 1rem;
  padding-block-start: 16dvh;
}

.title-base {
  background-clip: text;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: transparent;
}

h1 {
  font-size: clamp(1rem, 7dvw, 3rem);
  line-height: 1;
}
h2 {
  font-size: clamp(1.25em, 5.5dvw, 3.75rem);
  line-height: 1.7;
  margin-block-end: 0.5rem;
}
p {
  font-size: clamp(0.875rem, 1.25vw, 1.8rem);
  max-width: 90%;
}

@media only screen and (min-width: 480px) {
  h1 {
    font-size: clamp(1.85rem, 7dvw, 3.75rem);
  }
  h2 {
    font-size: clamp(2.156em,  5.75dvw, 5rem);
    white-space: normal;
  }
}

@media only screen and (min-width: 785px) {
  h1 {
    font-size: clamp(2.5rem, 7dvw, 4rem);
    line-height: 0.9;
  }
  h2 {
    font-size: clamp(4rem,  5.75dvw, 6rem);
    line-height: 1.2;
    margin-block-end: 1rem;
    /* white-space: nowrap; */
  }
}

@media only screen and (min-width: 1540px) {
  h1 {
    font-size: clamp(3rem, 15dvw, 5rem);
    line-height: 0.9;
  }
  h2 {
    font-size: clamp(5rem, 15dvw, 7rem);
    margin-block-end: 1.5rem;
    /* white-space: nowrap; */
  }
  p {
    max-width: 100%;
  }
}

@media only screen and (min-height: 500px) {
  section {
    padding-block-start: 13dvh;
  }
}
