
  <section class="contact">


      <div class="left-content" data-aos="fade-right" data-aos-duration="600">

        <form class="form" action="https://formsubmit.co/63d1103503b014a04dfed204f2ad17f2" method="POST" (submit)="onSubmit()">
          <app-title class="title" [title]="'Contact Us'" [strong]="['Us']" strongStyle="text-red-700"></app-title>

          <input type="text" class="input" name="name" id="name" autocomplete="name" placeholder="Name" required>
          <input type="text" class="input" name="email" id="email" autocomplete="email" placeholder="Email" required>
          <textarea class="message" name="message" id="message" placeholder="Write your message" cols="20"
            rows="7"></textarea>

          <button class="button-form" type="submit">
            Send
          </button>

          <input type="hidden" name="_next" value="https://visionary-jalebi-59889d.netlify.app/contact">
          <input type="hidden" name="_captcha" value="false">
          <input type="hidden" name="_subject" value="Nuevo mensaje del Porfolio!">
          <input type="text" name="_honey" style="display:none">
        </form>
      </div>

      <div class="right-content">

        <picture class="liquid-container" data-aos="fade-up" data-aos-duration="700">
          <div class="liquid">
            <div class="liquid-container">
              <img class="m-auto h-auto w-full xs:max-w-none xs:h-80 sm:h-[29rem] xl:h-[26rem]"
                src="../../../../assets/Programmer.svg" alt="Image of person programming" loading="lazy" role="img"
                aria-label="Image of a person programming with a purple suit and a background with a motion effect">
            </div>
          </div>
        </picture>

      </div>
  


  </section>
