.contact {
  display: flex;
  justify-content: space-evenly;
  min-height: calc(100dvh - 100px);
  margin-inline: 1rem;
  padding-inline: 2.25rem;
  column-gap: 25px;
}

.left-content {
  display: flex;
  align-items: center;
  flex-shrink: 999;
}

.right-content {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
  width: 450px;
  height: 45px;
  color: #000;
  font-weight: 600;
}

.message {
  width: 450px;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
  color: #000;
  font-weight: 600;
}

.input:focus,
.message:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 5px 5px 10px #969696, -5px -5px 10px #e8e5e5;
}

.button-form {
  background-color: rgba(185, 28, 28, 1);
  width: 13rem;
  overflow: hidden;
  outline: none;
  border-radius: 1.4rem;
  padding-block: 0.5rem;
  font-weight: 500;
  aspect-ratio: 9/2;
}

.button-form:hover {
  background-color: rgba(153, 27, 27, 1);
}
.button-form:active {
  background-color: rgba(127, 29, 29, 1);
}

.title {
  width: 100%;
  text-align: left;
  font-size: clamp(1.5rem /* 24px */, 8vw, 4rem /* 64px */);
  font-weight: 700;
}


@media only screen and (max-width: 768px) {
  .left-content{
    width: 100%;
  }

  .form .button-form {
    margin: auto;
  }
}

@media screen and (max-width: 790px) {
  .input {
    width: auto;
  }
  .message {
    width: auto;
  }
}


@media only screen and (min-width: 768px) {
  .right-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


@media only screen and (max-width: 1080px) {
  .contact {
    flex-direction: column;
  }
  .left-content {
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1580px) {
  .title {
    font-size: 5.5rem;
  }

  .input {
    width: 575px;
    height: 60px;
    font-size: 1.8rem;
  }
  .message {
    width: 575px;
    font-size: 1.8rem;
    height: 300px;
  }

  .button-form {
    font-size: 1.8rem;

    width: 16rem;
  }
  .right-content {
    width: 50%;
  }
}

