.liquid-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 3rem;
  padding-inline: 0;
}
.liquid-container .liquid {
  transition-duration: 0.5s;
  transition-property: ease;
  transition-property: border-radius;
  animation: liquid 4s linear infinite alternate both;

  text-transform: none;
}

@keyframes liquid {
  0% {
    border-radius: 30% 70% 46% 54% / 64% 47% 53% 36%;
  }
  25% {
    border-radius: 36% 64% 53% 47% / 58% 51% 49% 42%;
  }
  50% {
    border-radius: 45% 55% 58% 42% / 47% 60% 40% 53%;
  }
  75% {
    border-radius: 40% 60% 55% 45% / 49% 56% 44% 51%;
  }
  100% {
    border-radius: 36% 64% 53% 47% / 58% 51% 49% 42%;
  }
}
