.liquid-container {
  @apply w-full flex items-center justify-center py-12 px-0;
}
.liquid-container .liquid {
  @apply bg-transparents-purple shadow-liquid w-auto h-auto max-w-maxCalc xs:max-w-none  xs:h-80 sm:h-[29rem] xl:w-[31rem] xl:h-[28rem] min-[1600px]:w-[50rem] min-[1600px]:h-[45rem];
  transition-duration: 0.5s;
  transition-property: ease;
  transition-property: border-radius;
  animation: liquid 4s linear infinite alternate both;
}

@keyframes liquid {
  0% {
    border-radius: 30% 70% 46% 54% / 64% 47% 53% 36%;
  }
  25% {
    border-radius: 36% 64% 53% 47% / 58% 51% 49% 42%;
  }
  50% {
    border-radius: 45% 55% 58% 42% / 47% 60% 40% 53%;
  }
  75% {
    border-radius: 40% 60% 55% 45% / 49% 56% 44% 51%;
  }
  100% {
    border-radius: 36% 64% 53% 47% / 58% 51% 49% 42%;
  }
}
