.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    box-sizing: border-box;
  }

  .timeline::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 95%;
    --tw-bg-opacity: 1;
    background-color: #a066d5;
    --tw-shadow: 0 15px 15px 1px rgb(191 120 255 / 40%);
    --tw-shadow-colored: 0 15px 15px 1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  
    top: 0;
    left: 50%;
    margin-left: -3px;
  
    z-index: -1;
  }

  @media screen and (max-width: 768px){
    .timeline{
      margin: 50px auto
    }

    .timeline::after{
      left: 31px;
    }
  }