<section id="projects">
  <div data-aos="fade-up" data-aos-duration="75">
    <app-title className="text-center" [titleID]="titleID" name="Some projects">
      Some
      <span class="bg-ml-text-red bg-clip-text text-transparent">Projects</span>
    </app-title>
  </div>

  <div class="projects">
    @for(PROJECT of PROJECTS; track PROJECT.ID){
    <article class="project-grid" [ngClass]="'grid-el-' + ($index + 1)">
      <project-article
        [PROJECT]="PROJECT"
        data-aos="fade-up"
        data-aos-duration="50"
        >@for(ICON of PROJECT.ICONS; track $index){ @if(getIconComponent(ICON);
        as iconComponent){
        <ng-container *ngComponentOutlet="iconComponent"></ng-container>
        } }
      </project-article>
    </article>
    }
  </div>
</section>
