<bento-item className="bento-item-7">
  <h2
    class="font-manrope bg-ml-text-white font-semibold text-[3rem] pl-[1rem] text-left bg-clip-text text-transparent"
  >
    Stack
  </h2>
  <img
    class="icon angular"
    src="../../../../assets/stack/AngularIcon.svg"
    alt="Angular"
    title="Angular"
    decoding="async"
    loading="lazy"
  />
  <img
    class="icon react"
    src="../../../../assets/stack/ReactIcon.svg"
    alt="React"
    title="React"
    decoding="async"
    loading="lazy"
  />
  <img
    class="icon spring"
    src="../../../../assets/stack/SpringIcon.svg"
    alt="Spring boot"
    title="Spring boot"
    decoding="async"
    loading="lazy"
  />
  <img
    class="icon typescript"
    src="../../../../assets/stack/TypescriptIcon.svg"
    alt="TypeScript"
    title="TypeScript"
    decoding="async"
    loading="lazy"
  />
  <img
    class="icon css"
    src="../../../../assets/stack/Css3Icon.svg"
    alt="CSS"
    title="CSS"
    decoding="async"
    loading="lazy"
  />
  <img
    class="icon mysql"
    src="../../../../assets/stack/MysqlIcon.svg"
    alt="My SQL"
    title="My SQL"
    decoding="async"
    loading="lazy"
  />
  <img
    class="icon java"
    src="../../../../assets/stack/JavaIcon.png"
    alt="Java"
    title="Java"
    decoding="async"
    loading="lazy"
  />
  <img
    class="icon git"
    src="../../../../assets/stack/GitIcon.png"
    alt="Git"
    title="Git"
    decoding="async"
    loading="lazy"
  />
  <img
    class="icon tailwind"
    src="../../../../assets/stack/TailwindIcon.png"
    alt="Tailwind"
    title="Tailwind"
    decoding="async"
    loading="lazy"
  />
</bento-item>
