
@keyframes textIn {
    from {
      opacity: 0;
      transform: translateY(30%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animation-in-text {
    animation: textIn 1.5s ease;  
    transition: all 1s ease 0.5s;
  }


  .heading{
    user-select: none;
    justify-self: center;

  }

  .main-title{
    display: flex;
    font-weight: 700;
    text-transform: capitalize;
    font-size: clamp(2em, 9.5vw, 7em);
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    line-height: clamp(4rem, 9.5vw, 10rem);
  }

  .home-paragraph{
    font-weight: 500;
    margin-bottom: 2.5rem;
    text-align: center;
    max-width: 37rem;
  }

  @media screen and (min-width: 998px){
    .home-paragraph{
      text-align: left;
     
    }
  }