<bento-item className="bento-col-2 bento-item-5">
  <h2 class="bg-ml-text-white bento-title bg-clip-text text-transparent">
    Who I am?
  </h2>
  <p>
    I am a <span class="font-semibold">computer technician</span>, passionate
    about programming and technology. Experience in back-end development with
    Spring boot and front-end development with React or Angular. Proficient in
    agile methodologies and team collaboration. Always eager to learn and
    explore new technologies.
  </p></bento-item
>
