<bento-item className="bento-item-8">
  <h3
    class="bg-ml-text-white bg-clip-text text-transparent text-[clamp(1.25rem,6.25dvw,2rem)] min-[500px]:text-[1.75rem] min-[1700px]:text-[2rem] font-semibold mx-auto mb-8 flex gap-x-1"
  >
    {{ BENTO_CTA().TITLE }}
  </h3>
  <button
    class="w-[90%] py-0 cursor-pointer select-none mx-auto"
    (click)="scrollToForm()"
  >
    <div class="chip-style w-full py-3 flex gap-x-3">
      <EmailIcon /> {{ BENTO_CTA().BUTTON }}
    </div>
  </button>
</bento-item>
