<form
  class="form"
  [formGroup]="contactForm"
  (submit)="onSubmit()"
  role="form"
  [attr.aria-label]="CONTACT_FORM().FORM.ARIA_LABEL"
>
  <app-input-field
    type="text"
    name="name"
    formControlName="name"
    id="contact-name"
    autocomplete="name"
    [label]="CONTACT_FORM().FIELDS.NAME.LABEL"
    [aria]="CONTACT_FORM().FIELDS.NAME.ARIA"
    [errorMessage]="CONTACT_FORM().FIELDS.NAME.ERROR_MESSAGE"
  ></app-input-field>

  <app-input-field
    type="email"
    name="email"
    formControlName="email"
    id="contact-email"
    autocomplete="email"
    [label]="CONTACT_FORM().FIELDS.EMAIL.LABEL"
    [aria]="CONTACT_FORM().FIELDS.EMAIL.ARIA"
    [errorMessage]="CONTACT_FORM().FIELDS.EMAIL.ERROR_MESSAGE"
  ></app-input-field>

  <app-textarea-field
    name="message"
    formControlName="message"
    id="contact-message"
    [label]="CONTACT_FORM().FIELDS.MESSAGE.LABEL"
    [aria]="CONTACT_FORM().FIELDS.MESSAGE.ARIA"
    [errorMessage]="CONTACT_FORM().FIELDS.MESSAGE.ERROR_MESSAGE"
    cols="20"
    rows="7"
  ></app-textarea-field>

  <button
    class="button-form"
    type="submit"
    role="button"
    [disabled]="contactForm.invalid"
    [attr.aria-disabled]="contactForm.invalid"
  >
    {{ CONTACT_FORM().BUTTON.TEXT }}
  </button>
</form>
