:root {
  --ml-red-50: oklch(90.38% 0.034 20.07);
  --ml-red-75: oklch(71.28% 0.115 20.31);
  --ml-red-100: oklch(0.51 0.19 27.52);
  --ml-red-200: oklch(44.37% 0.161 26.9);
  --ml-red-300: oklch(39.58% 0.133 25.72);
  --ml-white-100: oklch(96.27% 0.0126 69.29909856448074);
  --ml-white-200: oklch(93.62% 0.0214 88.13);
  --ml-white-300: oklch(90.95% 0.0214 88.13);
  --ml-violet-100: #d8b4fe;

  --ml-text-white: linear-gradient(
    180deg,
    #fff 0%,
    rgba(255, 255, 255, 0.6) 100%
  );
  --ml-text-red: linear-gradient(
    180deg,
    oklch(0.58 0.23 28.18) 10%,
    oklch(0.43 0.17 28.14 / 0.76) 100%
  );

  --ml-bg-img: url("../assets/bg2.webp");
  --ml-bg-color: #0f0227;
  --ml-chip-gradient: linear-gradient(
    300deg,
    rgba(20, 0, 48, 0.175) 27.3%,
    rgba(50, 17, 106, 0.5) 66.15%
  );

  --ml-chip-gradient-revert: linear-gradient(
    143deg,
    rgba(20, 0, 48, 0.175) 27.3%,
    rgba(50, 17, 106, 0.5) 66.15%
  );

  --shadow-contact: 0px 0px 30px rgba(0, 0, 0, 0.03);
  --shadow-liquid: inset 20px 20px 20px rgb(157 0 255 / 5%),
    25px 35px 20px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -9px -11px 50px 5px rgb(40 0 60 / 54%);

  --shadow-card: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

  --shadow-skills: 0px 5px 20px 5px rgba(0, 0, 0, 0.33),
    0px 4px 28px 7px rgba(0, 0, 0, 0.38) inset;

  --shadow-social: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,
    0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  /* Layout Variables */
  --ml-container-margin-mobile: 10px;
  --ml-container-margin-desktop: 6dvw;
  --ml-container-max-width: calc(100% - calc(var(--ml-container-margin-desktop) * 2));
}
