@tailwind base;
@tailwind components;
@tailwind utilities;

.brightness {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background: #2f1e4d8c;
  z-index: -1;
  opacity: 0.75;
  filter: blur(30px);
  top: 0px;
  left: 0px;
}

.highlight-text {
  font-family: "Manrope";
  font-weight: 700;
  background-image: var(--ml-text-white);
}

.chip-style {
  box-sizing: border-box;
  background: linear-gradient(
    299.25deg,
    rgba(20, 0, 48, 0.175) 27.3%,
    rgba(50, 17, 106, 0.5) 66.15%
  );
  border: 1px solid rgba(33, 0, 87, 0.2);
  box-shadow: inset -1px -6px 16px rgba(35, 0, 70, 0.25),
    inset 6px 8px 24px rgba(30, 0, 60, 0.83);
  backdrop-filter: blur(8px);
  border-radius: 15px;
  font-family: "Manrope";
  font-weight: 500;
  color: #dedede;
  display: flex;
  align-items: center;
  justify-content: center;

  &.fixed-style {
    background: linear-gradient(
      299.25deg,
      rgba(20, 0, 48, 0.21) 27.3%,
      rgba(50, 17, 106, 0.3) 66.15%
    );
    border: 1px solid rgba(33, 0, 87, 0.7);
    box-shadow: inset -1px -6px 16px rgb(35 0 70 / 10%),
      inset 6px 8px 24px rgb(30 0 60 / 40%);
  }
}

.space-in-text {
  display: inline-flex;
  -moz-column-gap: 6px;
  column-gap: 6px;
  justify-content: center;
  align-items: center;
}
