@import "tailwindcss";
@config "../../tailwind.config.mjs";

@utility clip-path-circle {
  --tw-circle-path: 50% at 50% 50%;
  clip-path: circle(var(--tw-circle-path));
}

@utility no-outline {
  outline: none;

  &:is(:focus, :focus-visible, :focus-within, :active) {
    outline: none;
  }
}

.brightness {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background: #2f1e4d8c;
  z-index: -1;
  opacity: 0.75;
  filter: blur(30px);
  top: 0px;
  left: 0px;
}

.highlight-text {
  font-family: "Manrope";
  font-weight: 700;
  background-image: var(--ml-text-white);
}

.chip-style {
  box-sizing: border-box;
  background: var(--ml-chip-gradient);
  border: 1px solid rgba(33, 0, 87, 0.2);
  box-shadow: inset -1px -6px 16px rgba(35, 0, 70, 0.25),
    inset 6px 8px 24px rgba(30, 0, 60, 0.83);
  backdrop-filter: blur(8px);
  border-radius: 15px;
  font-family: "Manrope";
  font-weight: 500;
  color: #dedede;
  display: flex;
  align-items: center;
  justify-content: center;

  &.fixed-style {
    background: linear-gradient(
      299.25deg,
      rgba(20, 0, 48, 0.21) 27.3%,
      rgba(50, 17, 106, 0.3) 66.15%
    );
    border: 1px solid rgba(33, 0, 87, 0.7);
    box-shadow: inset -1px -6px 16px rgb(35 0 70 / 10%),
      inset 6px 8px 24px rgb(30 0 60 / 40%);
  }
}

.space-in-text {
  display: inline-flex;
  -moz-column-gap: 6px;
  column-gap: 6px;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
}



.animate-in {
  animation-name: enter;
  animation-duration: 150ms;
  --tw-enter-opacity: initial;
  --tw-enter-scale: initial;
  --tw-enter-rotate: initial;
  --tw-enter-translate-x: initial;
  --tw-enter-translate-y: initial;
}

.slide-in-from-top-2 {
  --tw-enter-translate-y: -0.5rem;
}

.duration-200 {
  animation-duration: 200ms;
}

.animate-in {
  animation: animate-in 0.2s ease-out;
}

@keyframes animate-in {
  0% {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
