svg #shipInSpace{
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-property: transform;
}

svg #spacecraft {
    animation: fly 1.4s ease-in-out normal both;
}

@keyframes fly {
    from {
        transform: translate(31%, 40%);
    }
    to{
        transform: translate(0%);
    }
}