.card-container{
  width: 100%;
  touch-action: none;
  user-select: none;

}

.card{
  width: 250px;
  aspect-ratio:  8/9;

  border: 2px solid rgba(94, 6, 166, .5);
  
  box-shadow: 0 0 45px 5px rgba(30, 30, 30, 0.5);
  border-radius: 20px;
  position: relative;
  

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  opacity: .99;
  z-index: 99;
}

  .mobile{
    transition: all .5s ease;
  }

 .mobile:hover {
  transform: scale(1.1);
 }


.card .card-bg{
  top: 0;
  background: rgb(21, 16, 48);
  opacity: .9;
  position: absolute;
  filter: blur(20px);
  width: 100%;
  height: 100%;
  z-index: -1;
 
 }

 .card .caption{
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  word-wrap: break-word;
  max-width: 217px;

  z-index: 50;
}

.card img{
 z-index: 50;
}

@media screen and (min-width: 1580px){
  
  .card{
    width: 350px;
  }
  .card .caption{
    font-size: 30px;
  }
}