  <div #serviceCard
  class="card-container" data-tilt data-tilt-reset-to-start="true" [ngClass]="{'mobile': this.isMobile}">

    <figure class="card">
   
      <img class="w-16 h-16 object-contain" [src]="icon" alt="decorative icon" aria-hidden="true" loading="lazy" itemprop="image" [attr.aria-labelledby]="'caption-'+index">
        
      <figcaption class="caption" [id]="'caption-'+index">
        {{ title }}
      </figcaption>


        <div class="card-bg"></div>
    </figure>

  </div>
