<div class="hero-socials">
  <div class="brightness brightness-1"></div>
  <div class="brightness brightness-2"></div>

  <social-button
    [socialUri]="USER_SOCIALS.linkedIn"
    title="Button to linkedIn profile"
    className="bg-[#0A66C2] fill-white p-[8px]"
  >
    <LinkedinIcon />
  </social-button>

  <social-button
    [socialUri]="USER_SOCIALS.gitHub"
    title="Button to github profile"
    className="bg-[#00000085] fill-white p-[4px]"
  >
    <GithubIcon />
  </social-button>

  <social-button
    [socialUri]="mailTo"
    title="Button for send email"
    className="bg-[#fff] p-[4px]"
  >
    <GmailIcon />
  </social-button>

  <social-button
    [socialUri]="USER_SOCIALS.cv"
    className="cv p-[4px] font-bold bg-[var(--ml-red-100)]"
  >
    <CvIcon />
  </social-button>
</div>
