<div class="hero-socials">
  <!-- <div class="brightness brightness-1"></div> -->
  <!-- <div class="brightness brightness-2"></div> -->

  <social-button
    [to]="USER_SOCIALS().linkedIn"
    [rel]="true"
    icon="linkedin"
    title="Visit Github profile"
  ></social-button>

  <social-button
    [to]="USER_SOCIALS().gitHub"
    [rel]="true"
    icon="github"
    title="Visit Github profile"
  ></social-button>

  <social-button
    [to]="mailTo"
    [rel]="true"
    icon="gmail"
    title="Send mail"
  ></social-button>

  <social-button
    [to]="USER_SOCIALS().cv"
    [rel]="true"
    icon="cv"
    title="Download CV"
  ></social-button>
</div>
