.card {
    width: 360px;
    aspect-ratio: 21/29;
    border-radius: 12px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 5px;
 
    background: -webkit-linear-gradient(
        286deg,
        #481aaf 50%,
        rgb(139 139 139 / 0%) 110%
    );

    transition-duration: .15s;
    transition-timing-function: ease-in-out;
    transition-property: scale;
  }

  .project-info {
    padding: 0 10px;
    padding-top: 0px;
    color: #Fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .types {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 8px;
  }
  
  
  .container-project {
    position: relative;
    margin: 10px;
    width: 330px;
    aspect-ratio: 7/4;
    overflow: hidden;
  }

  @media screen and (max-width: 330px){
    .card{
      width: 280px;
    }
    .container-project {
      width: 250px;
      aspect-ratio: 8/5;
    }
  }

  @media screen and (min-width: 600px){
    .card {
      width: 345px;
    }
    .container-project {
      margin: 10px;
      width: 320px;
    }

  }

  @media screen and (min-width: 1580px){
    .card {
      width: 625px;
      aspect-ratio: 13/17;
    }

    .container-project{ 
      width: 590px;
      aspect-ratio: 11/7;
      margin: 12px;
      border-radius: 15px;
    }

    .types {
      row-gap: 20px;
      column-gap: 20px;
    }
    
  }