<article class="card">

  <div class="rounded-lg container-project">
    <img [ngSrc]="PROJECT.IMG" fill alt="Project image." role="img" itemprop="image" aria-label="Project sample image." loading="lazy">
  </div>

  <div class="project-info">

    <project-card-body 
      [PROJECT_NAME]="PROJECT.NAME" 
      [TEXT_ANCHOR]="textAnchor" 
      [PROJECT_LINK]="PROJECT.DEPLOY" 
      [PROJECT_DESCRIPTION]="PROJECT.DESCRIPTION"
    ></project-card-body>

    <div class="types m-1" role="complementary">
      
      <tag *ngFor="let TAG of PROJECT.TAGS"
        [tag]="TAG.NAME"
        [background]="TAG.COLOR[0]"
        [color]="TAG.COLOR[1]"
      ></tag>

    </div>

  </div>

</article>