.card {

    width: 330px;
    aspect-ratio: 24/22;

    border-radius: 12px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 5px;
 
    background: -webkit-linear-gradient(
        286deg,
        #481aaf 50%,
        rgb(139 139 139 / 0%) 110%
    );

    transition-duration: .15s;
    transition-timing-function: ease-in-out;
    transition-property: scale;
  }

  .project-info {
    padding: 0 10px;
    padding-top: 0px;
    color: #Fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
  }
  
  .types {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    overflow: hidden;
    row-gap: 1rem;
    column-gap: 1rem;
    flex-grow: 1;
    flex-shrink: 1;
  }
  
  
  .container-project {
    position: relative;
    margin: 10px;
    width: 295px;
    aspect-ratio: 7/4;
    overflow: hidden;
  }

  @media only screen and (max-width: 330px){
    .card{
      width: 280px;
    }
    .container-project {
      width: 250px;
      aspect-ratio: 8/5;
    }
  }

  @media only screen and (min-width: 600px){
    .card {
      width: 350px;
      aspect-ratio: 27/22;
    }

    .container-project {
      margin: 10px;
      width: 320px;
    }

  }

  @media only screen and (min-width: 1580px){
    .card {
      width: 625px;
      aspect-ratio: 33/22;
    }

    .container-project{ 
      width: 590px;
      margin: 12px;
      border-radius: 1.2rem;
      aspect-ratio: 12/7;
    }
  }