<article class="card">

  <div class="rounded-lg container-project">
    <img [src]="PROJECT.IMG" alt="project image" role="img" itemprop="image" aria-label="Imagen de muestra del proyecto" loading="lazy">
  </div>

  <div class="project-info">

    <div class="flex-pr">

      <div class="flex justify-between w-full mb-2">
        <span class="project-title w-auto">
          {{ PROJECT.NAME }}
        </span>

        <a class="w-auto deploy" [href]="PROJECT.DEPLOY" target="_blank" role="button" aria-details="Link al repositorio en github del proyecto">
          {{ textAnchor }}
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="2em" height="2em" color="black" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor"><line y2="12" x2="19" y1="12" x1="5"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
        </a>
      </div>
 
      <p class="details" role="contentinfo">
        {{ PROJECT.DESCRIPTION }}
      </p>

    </div>

    <div class="types m-1" role="complementary">
      <tag *ngFor="let TAG of PROJECT.TAGS"
        [tag]="TAG.NAME"
        [background]="TAG.COLOR[0]"
        [color]="TAG.COLOR[1]"
      ></tag>
    </div>

  </div>

</article>