.site-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100dvh;
}
.footer{
    width: 100%;
    font-weight: 500;
    font-size: 1.75rem;
    margin-block-start: auto;
}

.header{
    font-weight: 500;
    padding-top: 1.25rem;
}

.main{
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}