<section class="footer-contact">
  <h3>Contact</h3>
  <div class="flex w-full justify-center">
    <ul class="flex flex-col min-[1500px]:gap-y-4">
      <li>
        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 min-[1500px]:w-8 min-[1500px]:h-8" aria-label="Icono de marcado de domicilio">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
        </svg>
         Argentina, Misiones, Posadas      
      </li>
      <li>
        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 min-[1500px]:w-8 min-[1500px]:h-8" aria-label="Icono de correo electronico">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
        </svg> 
        <img src="../../../../assets/email.svg" class="min-[1500px]:w-[25.5rem]" alt="Marcos Lopez Email">  
      </li>
    </ul>
  </div>
</section>