
<section class="self-center flex flex-col">
  <div class="heading">
  
    <h1 class="main-title">
      <span class="max-[1500px]:max-h-[110px]">{{HERO.TITLE}}</span>
      <span class="text-red-700 max-[1500px]:max-h-[110px]">{{HERO.STRONG.TITLE}}</span>
    </h1>

  </div>

  <div class="w-full my-1 flex items-center justify-center min-[100px]:justify-start">
    <h2 class="clarification">{{ HERO.SUBTITLE }}</h2>
  </div>
  <p class="home-paragraph">
    {{ HERO.PARAGRAPH }}
  </p>

  <div class="flex justify-center lg:justify-start gap-x-6">
    
    
    <button class="button button-resume-color">
      <a 
        [href]="USER.cv" target="_blank" role="link" aria-label="Link to my resume">
        {{ HERO.RESUME }}
      </a>
    </button>

    <button class="button button-contact-color" routerLink="/contact">
      {{HERO.CONTACT}}
    </button>
  </div>
</section>



