
<section class="self-center heroText">
  <div class="heading">
  
    <h1 class="main-title">
      <span>{{HERO.TITLE}}</span>
      <span class="text-red-700">{{HERO.STRONG.TITLE}}</span>
    </h1>

  </div>

  <p class="home-paragraph">
    {{ HERO.PARAGRAPH }}
  </p>

  <div class="flex justify-center lg:justify-start gap-x-6">
    
    
    <button class="button button-resume-color">
      <a 
        [href]="USER.cv" target="_blank">
        {{ HERO.RESUME }}
      </a>
    </button>

    <button class="button button-contact-color" routerLink="/contact">
      {{HERO.CONTACT}}
    </button>
  </div>
</section>



