

  .heading{
    user-select: none;
    justify-self: center;

  }

  .main-title{
    display: flex;
    font-weight: 700;
    text-transform: capitalize;
    font-size: clamp(3em, 17vw, 6em);
    display: flex;
    flex-direction: column;
    line-height: clamp(4rem, 20dvw, 16rem);
  }

  .button{
    font-weight: 600;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 1rem;
    width: 160px;
    font-size: 1rem;
    border-radius: 1.15rem;
  }

  .button-resume-color{
    background-color:  #b91c1c;
    color: #fff0e0;
  }

  .button-contact-color{
    background-color:  #fff0e0;
    color: #b91c1c;
  }

  .button-contact-color:hover{
    background-color:  #f8e7d4;
  }

  .button-contact-color:active{
    background-color:  #f7e2ca;
  }

  .button-resume-color:hover{
    background-color:  rgba(153, 27, 27, 1);
  }
  .button-resume-color:active{
    background-color:  rgba(127, 29, 29, 1);
  }

  .home-paragraph{
    font-weight: 500;
    margin-bottom: 1.5rem;
    text-align: center;
    max-width: 37rem;
  }

  .clarification {
    background: linear-gradient(162deg, rgba(40,8,94,1) 40%, rgba(20,0,48,1) 91%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(145, 82, 245);
    border-radius: 2em;
    padding: 3px;
    font-weight: 600;
    font-size: clamp(0.4rem, 4vw, 1.1rem);
    margin-block: 1rem;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 250px;
    color: rgb(231, 208, 251);
    user-select: none;
  }


  @media screen and (max-width: 330px){
    .button{
      width: 120px;
      padding-block: 0.2rem;
    }
  }

  @media screen and (min-width: 600px){
    .button{
      padding-inline: 1.25rem;
      padding-block: 0.75rem;
      border-radius: 1rem;
    }
    .main-title{
      font-size: clamp(5em, 14vw, 6rem);
      line-height: clamp(5rem, 17dvw, 8rem);
    }
  }

  @media screen and (min-width: 1500px){
    .main-title{
      font-size: clamp(5em, 15vw, 8rem);
      line-height: clamp(5rem, 15dvw, 10rem);
    }
    .home-paragraph{
      font-size: 1.2rem;
      max-width: 60rem;
     
    }
    .button{
      font-size: 1.2rem;
      padding-block: 1rem;
      padding-inline: 2rem;
      width: 275px;
    }

  }


  @media screen and (min-width: 1700px){
    .main-title{
      font-size: clamp(5em, 19vw, 11rem);
      line-height: clamp(5rem, 15dvw, 14rem);
    }

    .home-paragraph{
      font-size: 1.7rem;
      max-width: 85rem;
     
    }
    .button{
      font-size: 1.8rem;
      width: 300px;
    }
  }

  @media screen and (min-width: 998px){
    .home-paragraph{
      text-align: left;
    }
  }