
.social-cotnainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.75rem;
}


.social-link{
    width: 1.5rem;
    margin-inline: 0.75rem;
    display: inline-block;
    object-fit: cover;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.social-link:hover{
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    transform: translate(0, -4px) rotate(0) skewX(0) skewY(0) scaleX(1.1) scaleY(1.1);
    filter: contrast(1.25);
}

@media screen and (min-width: 1580px) {
    .social-link > div svg{
        width: 3rem;
        height: 3rem;
    }
    .social-cotnainer{
        column-gap: 6rem;
    }
}



