<section class="flex">
  <div class="about-introduction">

    <app-title class="w-full"
      class="title"
      className="text-center md:text-left"
      [titleID]="titleID"
      [name]="INTRODUCTION.TITLE"
      [title]="INTRODUCTION.TITLE"
      [strong]="[INTRODUCTION.STRONG.TITLE]"
      strongStyle="text-red-700"
    ></app-title>


    <p class="text-center md:text-left mt-8 text-base">
      {{ INTRODUCTION.PARAGRAPH }}
    </p>
  </div>

  <picture class="about-introduction-img">
    <spaceSvg class="w-full"></spaceSvg>
  </picture>
</section>