<section #contact id="contact">
  <app-title
    class="w-fit mx-auto pb-6"
    className="text-center"
    [titleID]="titleID"
    name="Contact me"
    sub="{{ CONTACT_TITLE().SUB }}"
  >
    {{ CONTACT_TITLE().TITLE[0] }}
    <span class="bg-ml-text-red bg-clip-text text-transparent">{{ CONTACT_TITLE().TITLE[1] }}</span>
  </app-title>
  <div class="contact relative">
    <div class="left-content" data-aos="fade-right" data-aos-duration="400">
      <contact-form (contactState)="handleFormSubmit($event)" />
    </div>

    <div class="right-content">
      <liquid-banner />
    </div>
  </div>
</section>
