<div class="project-img">
  <!-- Link to project repository -->
  <a [href]="REPO" target="_blank" [title]="TITLE">
    <!-- Container for atropos -->
    <div class="atropos project-atropos-content" [id]="ID" useAtropos>
      <div class="atropos-scale">
        <div class="atropos-rotate">
          <div class="atropos-inner">
            <div
              class="img-container"
              [style.background-image]="'url(' + SRC + ')'"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </a>

  <!-- TAGS for project -->
  <div class="flex flex-nowrap gap-x-4 absolute left-[5%] bottom-[1.75%]">
    <ng-content></ng-content>
  </div>
</div>
