section {
  background: linear-gradient(90deg, transparent, #12032ee6, transparent);
}

.clean-bg {
  width: 100%;
  height: 50px;
  background: linear-gradient(180deg, rgb(18 3 46 / 15%) 0%, #0f0227f5);
}
