<section class="container-sections">
  
  <app-title class="w-full"
      data-aos="fade-up" data-aos-duration="600"
      [titleID]="titleID"
      [title]="SERVICES.TITLE"
      [strong]="[SERVICES.STRONG.TITLE]"
      [name]="SERVICES.TITLE"
      strongStyle="text-red-700"
      class="title"
    ></app-title>

  <div class="ourService-container">
        <service-card 
          class="service-card"
          data-aos="zoom-in"
          data-aos-duration="700"
          
          *ngFor="let service of SERVICES.SERVICES; let i = index; track: trackByFn" 
          [index]="i" 
          [icon]="service.ICON" 
          [title]="service.TITLE"
        >
        </service-card>
  </div>

</section>
