
.clarification{
    background: linear-gradient(162deg, rgba(40,8,94,1) 40%, rgba(20,0,48,1) 91%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(190px, 410px, 460px);
    border: 1px solid rgb(145, 82, 245);
    border-radius: 2em;
    padding: 3px;
    margin-block-start: 1rem;
    font-weight: 600;
    font-size: clamp(0.4rem, 4vw, 1.1rem);
    color: rgb(231, 208, 251);
}

.clarification span{
    padding: 5px 2px 2px 5px;
}


@media screen and (min-width: 1580px){
    .skills{
        
    }
    .clarification{
        font-size: 1.8rem;
        width: 800px;
        margin-block-end: 2rem;
    }
}

@media screen and (max-width: 375px){
    .skills{
        padding: 0;
    }
}