<section class="container-sections">
  
    <div data-aos="fade-up" data-aos-duration="700">
      <app-title className="w-full"
        className="text-center font-bold"
        class="title-large"
        title="Skills"
        [title]="SKILLS.TITLE.TEXT"
        [name]="SKILLS.TITLE.TEXT"
        [strong]="['easier']"
        strongStyle="text-red-700"
      >
      </app-title>

      <div class="w-full flex items-center justify-center"> 
        <h3 class="clarification">
          <span class="text-center">{{ SKILLS.CLARIFICATION }}</span>
        </h3>

      </div>
      
    </div>
  
    <div class="flex flex-wrap xl:flex-nowrap mx-8 md:mx-32">
      
      <skills-group></skills-group>

    </div>

</section>

