footer {
  width: 100%;
  position: relative;
  background: #1b004e;
}

footer ::ng-deep .logo {
  flex: 0.5;
  justify-content: center;
  display: flex !important;
}

footer ::ng-deep .logo ::ng-deep img {
  width: 120px;
  min-width: 120px;
}

router-link::ng-deep .foot-navigation {
  @apply relative mr-4 font-medium;

  font-size: 1.2rem;
  color: #e7e7e7;
  opacity: 0.75;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-duration: 150ms;
  transition-property: all;
}

router-link::ng-deep .foot-navigation:hover {
  opacity: 1;
  color: #fff;
}

.footer-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;

  @media only screen and (min-width: 1500px) {
    & {
      width: 112%;
    }
  }
}

.footer-bg .shape-fill {
  fill: #0f0227;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-content span {
  text-align: center;
  margin-block: 1.25rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-block-end: 2rem;
}

@media screen and (min-width: 1580px) {
  .footer-content span {
    font-size: 2.5rem;
  }
}
