<footer aria-label="Site footer">
  <LogoIcon />
  <a
    class="footer-email"
    [href]="FOOTER().SOCIAL.GMAIL.URL"
    [title]="FOOTER().SOCIAL.GMAIL.TITLE">
    <img
      src="../../../../assets/email.svg"
      role="img"
      [attr.aria-label]="FOOTER().CONTACT.EMAIL.ARIA_LABEL"
      [alt]="FOOTER().CONTACT.EMAIL.ALT" />
  </a>
  <p class="footer-location">{{ FOOTER().CONTACT.LOCATION.TEXT }}</p>
  <p class="footer-copy"><CoffeeIcon class="coffee-icon" /><small>{{ FOOTER().COPYRIGHT.TEXT }}</small></p>
</footer>
