@tailwind base;
@tailwind components;
@tailwind utilities;

 img{
  max-width: none;
 }

 @layer components {
  .liquid-container {
    @apply  w-full flex items-center justify-center py-12 px-0;
  }

  .liquid-container .liquid{
    @apply  bg-transparents-purple shadow-liquid w-auto h-auto max-w-maxCalc xs:max-w-none xl:w-[31rem] xl:h-[28rem] ;
    transition: 0.5s ease;
    animation: liquid 4s linear infinite alternate both;
  }
}

 body{
    background: url("./assets/bg2.webp") fixed center / cover;
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    color: #f5f5f5;
    min-height: 100dvh;

    scroll-behavior: smooth;
    overflow-x: hidden;
    outline: none;
    overscroll-behavior-x: none;
    touch-action: manipulation;
}

.container-sections{
  display: flex;
  flex-direction: column;
  margin: 4rem 1rem 0 1rem;
  padding: 0 2.25rem;
}

.dd{
  min-height: calc(100dvh - 100px);
}


::-webkit-scrollbar {
  
  width: 2px;
  height: 2px;
  
  display: none;
} 
::-webkit-scrollbar button {
  width: 0px;
  height: 0px;
} 
::-webkit-scrollbar-thumb {
  background:transparent;
  border: 0px none transparent; 
  border-radius: 50px;
} 
::-webkit-scrollbar-thumb:hover {
   background: transparent;
  } 
  ::-webkit-scrollbar-thumb:active {
    background: transparent;
  }
  ::-webkit-scrollbar-track {
    background: transparent; 
    border: 0px none transparent;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: transparent;
  }
  ::-webkit scrollbar-track:active {
    background: transparent;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  @keyframes liquid {
    0%{
        border-radius: 30% 70% 46% 54% / 64% 47% 53% 36%;   
    }
    25%{
        border-radius: 36% 64% 53% 47% / 58% 51% 49% 42%;
    }
    50%{
        border-radius: 45% 55% 58% 42% / 47% 60% 40% 53%;
    } 
    75%{
        border-radius: 40% 60% 55% 45% / 49% 56% 44% 51%;
    }
    100%{
        border-radius: 36% 64% 53% 47% / 58% 51% 49% 42%;   
    }
  }