.hero{
    display: flex;
    justify-content: space-evenly;
    min-height: calc(100dvh - 100px);
    margin-inline: 1rem;
    padding-inline: 2.25rem;
}

.hero-text{
    display: flex;
    align-items: center;
    flex-shrink: 999;
}

.hero-img{
    display: none;
    position: relative;
}


@media screen and (min-width: 768px) {
    .hero-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1580px) {
    .hero-img{
     width: 50%;
    }
    .hero-text{
        width: 50%;
        display: flex;
        justify-content: center;
    }
}