<ng-container *ngIf="isHeader; else other">
  <a [routerLink]="path" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" role="link" 
  [ngClass]="classNames"
  class="relative group">
    {{ textLink }}
    <span class="h-[2px] inline-block bg-violet-900 absolute left-0 -bottom-0.5
      group-hover:w-full transition-[width] ease duration-300">
      &nbsp;
    </span>
  </a>
</ng-container>

<ng-template #other> 
  <a [ngClass]="classNames" class="relative group cursor-pointer">
    {{ textLink }}
  </a>
</ng-template>
